[submodule "UnityPlugin/Packages/RealityFlow"]
	path = UnityPlugin/Packages/RealityFlow
	url = https://github.com/lucidbard/realityflow_package.git
[submodule "realityflow-server"]
	path = realityflow-server
	url = https://github.com/many-realities-studio/realityflow-server.git
[submodule "NGP"]
	path = NGP
	url = git@github.com:many-realities-studio/NodeGraphProcessor.git
