.user {
    cursor:pointer;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
body {
padding-top: 50px;
}
.starter-template {
padding: 40px 15px;
}
.clientType {
padding-left:15px;
}
.disconnect {
color: red;
}

.connect {
color: green;
}

.master {
font-weight: bold;
background-color: lightpink;
}

.clientid {
    float: right;
}
.transform {
    background-color: white;
    /* display: inline-block; */
    width: 250px;
    margin: 5px;
}